{% extends 'base.html' %}

{% load static %}

{% block heading %}<h1>Devoted to Web Development</h1>{% endblock %}

{% block content %}

<!--<article>
  <div class="sponsor sponsor-h">
      <img src="/media/Billboard dummy ad 1200.PNG" alt="sponsor" />
  </div>
</article> -->

<div class="article-list">
{% for  blogs in blogs %}
    <article>
        {% if blogs.image %}
        <div class="card-thumb hover-shadow">
            <a href="{% url 'detail' blogs.slug %}"><img src="/media/{{blogs.image}}" > </a>
        </div>
        {% endif %}
        <div>
            <h2 class="post-title"><a href="{% url 'detail' blogs.slug %}" >{{blogs.title}}</a></h2> 
            <p class="meta"> By <a class="meta-author" href="{% url 'blog-by-author' blogs.author.id %}">{{blogs.author.author}}</a>, <em class="meta-date">{{blogs.created_at|date}}</em></p>
            <p>{{blogs.description}}</p>
        </div>
    </article>
{% endfor %}

{% if blogs.has_other_pages %}
  <ul class="pagination">
    {% if blogs.has_previous %}
      <li><a href="?page={{ blogs.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in blogs.paginator.page_range %}
      {% if blogs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if blogs.has_next %}
      <li><a href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>

{% endif %}
</div>
<!--
<div class="sponsor sponsor-h">
    <img src="/media/Billboard dummy ad 1200.PNG" alt="sponsor" />
</div>-->
</div>
</article> -->

<div class="article-list">
{% for  blogs in article %}
    <article>
        {% if blogs.image %}
        <div class="card-thumb hover-shadow">
            <a href="{% url 'detailarticle' blogs.slug %}"><img src="/media/{{blogs.image}}" > </a>
        </div>
        {% endif %}
        <div>
            <h2 class="post-title"><a href="{% url 'detailarticle' blogs.slug %}" >{{blogs.title}}</a></h2> 
            <p class="meta"> By <a class="meta-author" href="{% url 'blog-by-author' blogs.author.id %}">{{blogs.author.author}}</a>, <em class="meta-date">{{blogs.created_at|date}}</em></p>
            
        </div>
    </article>
{% endfor %}


</div>
{% endblock %}
